
/*strava*/
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Alumni+Sans+Inline+One&display=swap');

header {
    background-color: aliceblue;
    /* Arrière-plan de l'en-tête */
    color:rgb(234, 98, 33);
    /* Couleur du texte dans l'en-tête */
    padding: 15px;
    /* Espace autour du contenu de l'en-tête */
    border-radius: 10px;
}

/* Style de base pour la barre de navigation */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    color: rgb(234, 98, 33);
    border-radius: 10px;
    background-color: aliceblue;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: aliceblue;
}

nav li {
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    background-color: aliceblue;
    color: rgb(234, 98, 33);
}

/* Style au survol des liens */
nav a:hover {
    text-decoration: underline;
    color: rgb(234, 98, 33);
    background-color: aliceblue;
}

/* Style pour la barre de recherche */
.search-box {
    display: flex;
    color: rgb(234, 98, 33);
    background-color: whitesmoke;

}


.search-box input {
    padding: 5px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    color: rgb(234, 98, 33);
    background-color: black;
    border: 3px rgb(234, 98, 33);
}

.search-box button {
    background-color: black;
    color: rgb(234, 98, 33);
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: (234, 98, 33);
}

/* Style au survol du bouton de recherche */
.search-box button:hover {
    background-color: dimgray;
}

/* Ajout de styles pour rendre la barre de navigation responsive */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav li {
        margin-right: 0;

    }
}



main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    grid-gap: 20px;
    font-family: 'Abel', sans-serif;
    font-size: larger;
    font-weight: 200
}

.titre {
    text-align: center; /* Centrer le texte */
    padding: 30px;
    justify-content: center;
}

body {
    background-color: rgb(234, 98, 33);
}
h2{
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}
h4{
    text-decoration: underline;
}

/* les contenu dans les rectangles */
.fixed-layout ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.fixed-layout li {
    border: 2px solid black;
    border-radius: 7px;
    padding: 20px;
    flex: 1;
    max-width: calc(50% - 8px); /* Pour que chaque paire de h4 et de p occupe la moitié de la largeur */
}

/* exemple image*/

.ex img {
    max-width: 100%;
    height: auto;
    padding: 30px;
}

@media screen and (max-width: 768px) {
    .ex img {
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {
    .ex img {
        padding: 10px;
    }
}

.download-button {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.download-button:hover {
    background-color: #007aaf;
}

footer {
    background-color: whitesmoke;
    color: rgb(234, 98, 33);
    border-radius: 10px;
    text-align: center;
    border-radius: 10px;
    text-align: center;
    padding: 3px;
}

h5, h6 {
    font-weight: bold;
    margin: 2px;
    font-size: 14px; 
}

footer a {
    color: rgb(234, 98, 33);
    font-size: 14px; 

.f0 {
    margin-bottom: 2px;
}

.f1, .f2, .f3 {
    display: inline-block;
    vertical-align: top;
    margin: 15px 3px;
}

.f1 > a, .f2 > a, .f3 > a {
    display: flex;
    flex-direction: column;
    font-size: 14px; 
}

.f4 {
    margin-top: 5px;
}

.bas {
    margin: 5px;
    font-size: 14px; 
}

@media (max-width: 768px) {
    .f1, .f2, .f3 {
        display: block;
        margin: 10px 0;
    }
}
}