/*windy*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.windy {
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background-color: dimgray;
    /* Arrière-plan de l'en-tête */
    color: whitesmoke;
    /* Couleur du texte dans l'en-tête */
    padding: 15px;
    /* Espace autour du contenu de l'en-tête */
    border-radius: 10px;
}

/* Style de base pour la barre de navigation */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    color: whitesmoke;
    border-radius: 10px;
    background-color: dimgray;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: dimgray;
}

nav li {
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    font-size: medium;
    font-weight: bold;
    background-color: dimgray;
    color: whitesmoke;
}

/* Style au survol des liens */
nav a:hover {
    text-decoration: underline;
    color: whitesmoke;
    background-color: dimgray;
}

/* Style pour la barre de recherche */
.search-box {
    display: flex;
    color: whitesmoke;
    background-color: dimgray;
}

.search-box input {
    padding: 5px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    color: whitesmoke;

}

.search-box button {
    background-color: dimgray;
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

/* Style au survol du bouton de recherche */
.search-box button:hover {
    background-color: royalblue;
}

/* Ajout de styles pour rendre la barre de navigation responsive */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav li {
        margin-right: 0;

    }
}



main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    grid-gap: 20px;
}

body{
    background-color: firebrick;
    font-weight: bold;
    font-size: large;
}

.titre {
    text-align: center; /* Centrer le texte */
    padding: 30px;
    justify-content: center;
}
h4{
    text-decoration: underline;
}
.ex img {
    max-width: 100%;
    height: auto;
    padding: 30px;
}

@media screen and (max-width: 768px) {
    .ex img {
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {
    .ex img {
        padding: 10px;
    }
}

.download-button {
    background-color: #FF5733;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.download-button:hover {
    background-color: #e64d2f;
}
