/*flight*/
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap');
*{
    font-family: 'Alumni Sans Inline One', sans-serif;
    color: darkgoldenrod;
    font-size: 1.10em;
    font-weight: 300;
    text-shadow: none;
}

header {
    background-color: darkgoldenrod;
    /* Arrière-plan de l'en-tête */
    color: whitesmoke;
    /* Couleur du texte dans l'en-tête */
    padding: 15px;
    /* Espace autour du contenu de l'en-tête */
    border-radius: 10px;
}

/* Style de base pour la barre de navigation */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    color: whitesmoke;
    border-radius: 10px;
    background-color: darkgoldenrod;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: darkgoldenrod;
}

nav li {
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    background-color: darkgoldenrod;
}

/* Style au survol des liens */
nav a:hover {
    text-decoration: underline;
    color: whitesmoke;
    background-color: darkgoldenrod;
}

/* Style pour la barre de recherche */
.search-box {
    display: flex;
    color: whitesmoke;
    background-color: darkgoldenrod;
}

.search-box input {
    padding: 5px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    color: whitesmoke;

}

.search-box button {
    background-color: darkgoldenrod;
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

/* Style au survol du bouton de recherche */
.search-box button:hover {
    background-color: dimgray;
}

/* Ajout de styles pour rendre la barre de navigation responsive */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav li {
        margin-right: 0;

    }
}



main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    grid-gap: 20px;
}




.titre {
    text-align: center; /* Centrer le texte */
    padding: 30px;
    justify-content: center;
}

body {
    background-image: url('pict/planisf.png'); 
    background-size: cover; /* Ajuste l'image pour remplir toute la zone */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-attachment: fixed; /* Fixe l'image en arrière-plan */
}

h2{
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}
h4{
    text-decoration: underline;
}

.ex img {
    max-width: 100%;
    height: auto;
    padding: 30px;
}

@media screen and (max-width: 768px) {
    .ex img {
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {
    .ex img {
        padding: 10px;
    }
}

.download-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: larger;
    font-weight: 200;
}

.download-button:hover {
    background-color: #45a049;
}

footer {
    background-color: darkgoldenrod;
    color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    padding: 3px;
}

footer>a,h5,h6{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
}
h5, h6 {
    font-weight: bold;
    margin: 2px;
    font-size: 14px;
    color: whitesmoke;
}

footer a {
    color: whitesmoke;
    font-size: 14px; 

.f0 {
    margin-bottom: 2px;
}

.f1, .f2, .f3 {
    display: inline-block;
    vertical-align: top;
    margin: 15px 3px;
}

.f1 > a, .f2 > a, .f3 > a {
    display: flex;
    flex-direction: column;
    font-size: 14px; 
}

.f4 {
    margin-top: 5px;
}

.bas {
    margin: 5px;
    font-size: 14px; 
}

@media (max-width: 768px) {
    .f1, .f2, .f3 {
        display: block;
        margin: 10px 0;
    }
}
}